body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f5f5f5;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container {
    display: flex;
    align-items: center;
    background-color: #3498db;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    border-bottom: 2px solid #131414; 
    padding: 10px;
    border-radius: 8px;
    color: white;
    text-align: center;
    width: 100vw; 
    box-sizing: border-box; 
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);  
    padding-left: 20px; 
    padding-right: 20px; 
}

.header-left {
    margin-right: 20px;
    margin-left: 20px;
    color: white;
    font-size: 0.5em

}

.header-left h2 {
    margin: 0;
    color: white;
}

.header-right {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}

.header-container h1 {
    flex-grow: 1;
    margin: 0;
    font-size: 2.5em;
}

.header-container img {
    max-height: 100px; 
    margin-left: 20px;
}

h2 {
    color: #2c3e50;
    border-bottom: 2px solid #3498db; 
    padding-bottom: 10px; 
    text-align: center;
    font-size: 2em; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1600px;
    gap: 10px; 
}

.form-container, .table-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 48%;
    box-sizing: border-box; 
}

.table-container {
    overflow-x: auto; 
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input {
    margin-left: -10px;
}
input:focus{
    outline : solid rgb(32, 173, 184) 2px;

}

input, button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    table-layout: fixed;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px 15px;
    text-align: left;
    word-wrap: break-word;
}

th {
    background-color: #3498db;
    color: white;
}

td {
    background-color: #fff;
}

tr:nth-child(even) td {
    background-color: #f9f9f9;
}